@import './utils.css';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--default-font-size);
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}